.THIS .container{
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.THIS .groupButton{
margin-left: 20px;    
}

.THIS .count{
    display: block;
    text-align: right;
    margin-right: 20px;
    font-weight: 500;
}